view,input{
  padding: 0;
  margin: 0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.weui-article__h1 {
  line-height: 2.4;
  padding-left: 30rpx;
}
form {
  width: 100%;
}
.page.index{
  .naviButton{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px auto;
    padding: 4px 12px;
    text-align: center;
  }
}
.box_container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  .container{
    overflow: auto;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.items-center, .flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
.content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}
.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
